.second-step {
	&__content	{
	}
}

.old-address {
	display: flex;
	flex-direction: column;
}
.new-address {
	display: flex;
	flex-direction: column;
}

.ss-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	&:hover {
		cursor: pointer;
	}
	&__input {
		&:hover {
			cursor: pointer;
		}
	}
	&__label {
		opacity: 0.5;
		&:hover {
			cursor: pointer;
		}
	}
}