.date-input {
	padding: 0px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #e6e6e6;
	gap: 25px;
	padding: 15px;
	transition: all 0.3s ease 0s;
	@media (max-width: 1440px){
		padding: 1.042vw;
	}
	@media (max-width: 768px){
		padding: 15px;
	}
	&__container {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: 18px;
		@media (max-width: 1440px){
			flex-direction: column;
			gap: 5px;
			align-items: flex-start;
		}
		& input {
			border: none;
			padding: 5px 15px;
			background-color: rgba(232, 232, 232, 0.3);
			@media (max-width: 1440px){
				width: 115px;
			}
			&::placeholder {
				font-size: 18px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	& h2 {
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 2px;
		margin: 0;
	}
	&__date-picker {

	}
	&__icon {
		display: none;
		width: 25px;
		height: auto;
	}
}


.disabled-calendar {
	transition: all 0.3s ease 0s;
  opacity: 0.3; /* Пример стиля для отключенного календаря */
  pointer-events: none; /* Отключает взаимодействие с элементами внутри */
}