// Боковые отступы для контейнера блока
.container-padding {
	padding: 0px 15px;
}

// Address form main styles
.form-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 33px -18px rgba(23,0,117,0.52);
	-webkit-box-shadow: 0px 0px 33px -18px rgba(23,0,117,0.52);
	-moz-box-shadow: 0px 0px 33px -18px rgba(23,0,117,0.52);
}
.form-card-content {
	padding: 25px 15px 30px 15px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	@media (max-width: 1440px){
		padding: 1.736vw 1.042vw 2.083vw 1.042vw;
		gap: 2.778vw;
	}
	@media (max-width: 768px){
		gap: 30px;
		padding: 15px;
	}
}
.form-card-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	background: #170075;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	@media (max-width: 1440px){
		padding: 1.042vw;
		font-size: 1.25vw;
	}
	@media (max-width: 768px){
		font-size: 12px;
		padding: 5px;
	}
	& h2 {
		text-align: center;
	}
}
.form-input {
	border: 1px solid #e6e6e6;
	padding: 15px 15px;
	@media (max-width: 1440px){
		padding: 1.042vw;
	}
	@media (max-width: 768px){
		padding: 15px;
	}
	&:focus {
		border: 1px solid #153094;
		transition: all 0.3s ease 0s;
	}
}
.form-subtitle {
	font-size: 18px;
	@media (max-width: 1100px){
		font-size: 16px;
	}
	@media (max-width: 992px){
		font-size: 14px;
	}
	@media (max-width: 768px){
		font-size: 18px;
	}
}
.content-section {
	gap: 15px;
	@media (max-width: 1440px){
		gap: 1.042vw;
	}
	@media (max-width: 768px){
		gap: 15px;
	}
}

._hidden {
	display: none;
}

.active-border {
	border: 1px solid rgba(3,36,99,1);
}
.red-border {
	border: 1px solid red;
}


// Main colors
$textColor: #0d1a33;
$linkHover: #153094;
$blueVioletGradient: linear-gradient(132deg, rgba(72,3,159,1) 18%, rgba(3,36,99,1) 81%);